* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.main {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
}

.main-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 80vw;
	height: 80vh;
}

input,
button {
	padding: 1rem;
}
